# Google Gemini
google-genai
langchain-google-genai

# LangChain
langchain
langchain-core
langchain-community
langchain-classic
langchain-text-splitters
langchain-chroma

# Vector Database
chromadb

# Groq
langchain-groq

# Resume/document processing
pypdf
docx2txt

# Environment variables
python-dotenv

# Streamlit UI
streamlit